@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */

@font-face {
    font-family: 'OpenSans';
    src: url('../assets/fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Merdee';
    src: url('../assets/fonts/Merdee/Merdee-Regular.ttf');
}

html {
    font-family: 'OpenSans';
}

.merdee {
    font-family: 'Merdee';
}